In [ ]:
!pip install pyspark py4j

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.4)
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("pyspark_basics").getOrCreate()

#Create a DataFrame

In [ ]:
%%writefile user_simple.json
{"name":"Bob"}
{"name":"Jim", "age":40}
{"name":"Mary", "age": 24}

Writing user_simple.json

In [ ]:
df = spark.read.json("user_simple.json")
df

DataFrame[age: bigint, name: string]

#Show DataFrame

In [ ]:
df.show()

+----+----+
| age|name|
+----+----+
|NULL| Bob|
|  40| Jim|
|  24|Mary|
+----+----+

In [ ]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [ ]:
df.columns

['age', 'name']

In [ ]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [ ]:
df.describe().show()

+-------+------------------+----+
|summary|               age|name|
+-------+------------------+----+
|  count|                 2|   3|
|   mean|              32.0|NULL|
| stddev|11.313708498984761|NULL|
|    min|                24| Bob|
|    max|                40|Mary|
+-------+------------------+----+

#Specifying Schema Structure

In [ ]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType
data_schema = [StructField("age", IntegerType(), True), StructField("name",StringType(), True)]
final_struc = StructType(fields=data_schema)
df = spark.read.json("user_simple.json", schema=final_struc)
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [ ]:
df.show()

+----+----+
| age|name|
+----+----+
|NULL| Bob|
|  40| Jim|
|  24|Mary|
+----+----+

#Create new Columns and Replace Columns

In [ ]:
df.withColumn("newAge", df['age']).show()

+----+----+------+
| age|name|newAge|
+----+----+------+
|NULL| Bob|  NULL|
|  40| Jim|    40|
|  24|Mary|    24|
+----+----+------+

In [ ]:
df.show()

+----+----+
| age|name|
+----+----+
|NULL| Bob|
|  40| Jim|
|  24|Mary|
+----+----+

In [ ]:
df.withColumnRenamed("name","firstName").show()

+----+---------+
| age|firstName|
+----+---------+
|NULL|      Bob|
|  40|      Jim|
|  24|     Mary|
+----+---------+

In [ ]:
df.show()

+----+----+
| age|name|
+----+----+
|NULL| Bob|
|  40| Jim|
|  24|Mary|
+----+----+

#Closing the session

In [ ]:
spark.stop()