**Calculate the Square Root**

In [ ]:
num = 8
num_sqrt = num ** 0.5
print('The square root of %0.3f is %0.3f'%(num ,num_sqrt))

The square root of 8.000 is 2.828

**Check if year is a leap year or not**

In [ ]:
year = 2000

if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))

elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))

else:
    print("{0} is not a leap year".format(year))

2000 is a leap year

**Find the factorial of a number**

In [ ]:
def factorial(x):

    if x == 1 or x == 0:
        return 1
    else:
        # recursive call to the function
        return (x * factorial(x-1))

num = 7
result = factorial(num)
print("The factorial of", num, "is", result)

The factorial of 7 is 5040

**Print the Fibonacci sequence**

In [ ]:
def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))

nterms = 10
if nterms <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence:")
   for i in range(nterms):
       print(recur_fibo(i))

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

**Check if the number is an Armstrong number or not**

In [ ]:
num = int(input("Enter a number: "))
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

# Array Programs

**Find Largest Element in an Array**

In [ ]:
def largest(arr, n):

	# Initialize maximum element
	max = arr[0]

#Traverse array elements from second and compare every element with current max

	for i in range(1, n):
		if arr[i] > max:
			max = arr[i]
	return max

arr = [10, 324, 45, 90, 9808]
n = len(arr)
Ans = largest(arr, n)
print("Largest in given array ", Ans)

Largest in given array  9808

**Find sum of elements in given array**

In [ ]:
def _sum(arr):
	sum = 0
	for i in arr:
		sum = sum + i

	return(sum)

arr = [12, 3, 4, 15]
n = len(arr)
ans = _sum(arr)
print('Sum of the array is ', ans)

Sum of the array is  34

**Slicing in Arrays**

In [ ]:
import array as arr

numbers_list = [2, 5, 62, 5, 42, 52, 48, 5]
numbers_array = arr.array('i', numbers_list)

print(numbers_array[2:5]) # 3rd to 5th
print(numbers_array[:-5]) # beginning to 4th
print(numbers_array[5:])  # 6th to end
print(numbers_array[:])   # beginning to end

array('i', [62, 5, 42])
array('i', [2, 5, 62])
array('i', [52, 48, 5])
array('i', [2, 5, 62, 5, 42, 52, 48, 5])

**Replacing the element at a particular index**

In [ ]:
import array as arr

numbers = arr.array('i', [1, 2, 3, 5, 7, 10])

# changing first element
numbers[0] = 0
print(numbers)

# changing 3rd to 5th element
numbers[2:5] = arr.array('i', [4, 6, 8])
print(numbers)

array('i', [0, 2, 3, 5, 7, 10])
array('i', [0, 2, 4, 6, 8, 10])

**Adding an element or elements in an array**

In [ ]:
import array as arr

numbers = arr.array('i', [1, 2, 3])

numbers.append(4)
print(numbers)

numbers.extend([5, 6, 7])
print(numbers)

array('i', [1, 2, 3, 4])
array('i', [1, 2, 3, 4, 5, 6, 7])

#List Programs

**Add Elements to a List From Other Iterables**

In [ ]:
numbers = [1, 3, 5]
print('Numbers:', numbers)

even_numbers  = [2, 4, 6]
print('Even numbers:', numbers)

numbers.extend(even_numbers)

print('Updated Numbers:', numbers)

Numbers: [1, 3, 5]
Even numbers: [1, 3, 5]
Updated Numbers: [1, 3, 5, 2, 4, 6]

**Add Elements at the Specified Index in a list**

In [ ]:
fruits = ['apple', 'banana', 'orange']
print("Original List:", fruits)

fruits.insert(2, 'cherry')

print("Updated List:", fruits)

Original List: ['apple', 'banana', 'orange']
Updated List: ['apple', 'banana', 'cherry', 'orange']

**Remove an element from the list**

In [ ]:
a = [10, 20, 30, 40, 50]
a.remove(30)
print(a)

[10, 20, 40, 50]

**Check for the duplicate values ina list**

In [ ]:
a = [1, 2, 2, 3, 4, 4, 5]
res = []
for val in a:
  if val not in res:
    res.append(val)
print(res)

[1, 2, 3, 4, 5]

#String Programs

**Reverse Words in a Given String**

In [ ]:
s = "Geeks for Geeks"
reversed_words = ' '.join(s.split()[::-1])
print(reversed_words)

Geeks for Geeks

**Remove Letters From a String**

In [ ]:
s = "hello world"
s = s.replace("l", "")
print(s)

heo word

**Maximum frequency character in String**

In [ ]:
test_str = "GeeksforGeeks"
print ("The original string is : " + test_str)
all_freq = {}
for i in test_str:
  if i in all_freq:
    all_freq[i] += 1
  else:
    all_freq[i] = 1
res = max(all_freq, key = all_freq.get)

print ("The maximum of all characters in GeeksforGeeks is : " + str(res))

The original string is : GeeksforGeeks
The maximum of all characters in GeeksforGeeks is : e

**Find words which are greater than given length k**

In [ ]:
def string_k(k, str):
	string = []
	text = str.split(" ")
	for x in text:
		if len(x) > k:
			string.append(x)
	return string

k = 3
str = "geek for geeks"
print(string_k(k, str))

['geek', 'geeks']

**Print the middle character of a string**

In [ ]:
def printMiddleCharacter(str):
	length = len(str);
	middle = length // 2;
	print(str[middle]);

str = "GeeksForGeeks";
printMiddleCharacter(str);

o

#Tuple Programs

**Sum of tuple elements**

In [ ]:
def summation(test_tup):
	test = list(test_tup)
	count = 0
	for i in test:
		count += i
	return count
test_tup = (5, 20, 3, 7, 6, 8)
print(summation(test_tup))

49

**Join Tuples if similar initial element**

In [ ]:
test_list = [(5, 6), (5, 7), (6, 8), (6, 10), (7, 13)]
print(test_list)
res = []
for sub in test_list:
    if res and res[-1][0] == sub[0]:
        temp = list(res[-1])
        temp.append(sub[1])
        res[-1] = tuple(temp)
    else:
        res.append(sub)

print(f"The extracted elements: {res}")

[(5, 6), (5, 7), (6, 8), (6, 10), (7, 13)]
The extracted elements: [(5, 6, 7), (6, 8, 10), (7, 13)]

**All pair combinations of 2 tuples**

In [ ]:
test_tuple1 = (4, 5)
test_tuple2 = (7, 8)

print(f"The original tuple 1: {test_tuple1}")
print(f"The original tuple 2: {test_tuple2}")

res = [(a, b) for a in test_tuple1 for b in test_tuple2]
res = res + [(a, b) for a in test_tuple2 for b in test_tuple1]
print(f"All possible pairs: {res}")

The original tuple 1: (4, 5)
The original tuple 2: (7, 8)
All possible pairs: [(4, 7), (4, 8), (5, 7), (5, 8), (7, 4), (7, 5), (8, 4), (8, 5)]

**Modulo of tuple elements**

In [ ]:
test_tuple1 = (4, 5)
test_tuple2 = (7, 8)

print(f"The original tuple 1: {test_tuple1}")
print(f"The original tuple 2: {test_tuple2}")

res = [(a, b) for a in test_tuple1 for b in test_tuple2]
res = res + [(a, b) for a in test_tuple2 for b in test_tuple1]

The original tuple 1: (4, 5)
The original tuple 2: (7, 8)

#Dictionary Programs

**Extract Unique Dictionary values**

In [ ]:
test_dict = {'gfg': [5, 6, 7, 8],
			'is': [10, 11, 7, 5],
			'best': [6, 12, 10, 8],
			'for': [1, 2, 5]}

print("The original dictionary is : " + str(test_dict))
res = list(sorted({ele for val in test_dict.values() for ele in val}))
print("The unique values list is : " + str(res))

The original dictionary is : {'gfg': [5, 6, 7, 8], 'is': [10, 11, 7, 5], 'best': [6, 12, 10, 8], 'for': [1, 2, 5]}
The unique values list is : [1, 2, 5, 6, 7, 8, 10, 11, 12]

**Find the sum of all items in a dictionary**

In [ ]:
def returnSum(myDict):

	list = []
	for i in myDict:
		list.append(myDict[i])
	final = sum(list)

	return final
dict = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", returnSum(dict))

Sum : 600

**Counter in Python to find winner of election**

In [ ]:
from collections import Counter

def winner(input):

	votes = Counter(input)
	dict = {}

	for value in votes.values():
		dict[value] = []

	for (key,value) in votes.items():
		dict[value].append(key)

	maxVote = sorted(dict.keys(),reverse=True)[0]

	if len(dict[maxVote])>1:
		print (sorted(dict[maxVote])[0])
	else:
		print (dict[maxVote][0])

if __name__ == "__main__":
	input =['john','johnny','jackie','johnny',
			'john','jackie','jamie','jamie',
			'john','johnny','jamie','johnny',
			'john']
	winner(input)

john

**Append Dictionary Keys and Values ( In order )**

In [ ]:
test_dict = {"Gfg" : 1, "is" : 3, "Best" : 2}
print("The original dictionary is : " + str(test_dict))
res = list(test_dict.keys()) + list(test_dict.values())
print("The ordered keys and values : " + str(res))

The original dictionary is : {'Gfg': 1, 'is': 3, 'Best': 2}
The ordered keys and values : ['Gfg', 'is', 'Best', 1, 3, 2]