#ùêÅùêöùê¨ùê¢ùêú ùêíùêêùêã ùêÇùê®ùêßùêúùêûùê©ùê≠ùê¨

1. What is SQL, and why is it important in data analytics?

Ans. SQL stands for Structured Query Language. It is a powerful programming language used to manage and manipulate data in relational databases.

It's crucial for data analytics:

**Data Retrieval:** SQL allows analysts to efficiently extract specific data from large datasets based on various criteria. This is essential for building reports, visualizations, and performing in-depth analysis.

**Data Manipulation:** SQL enables analysts to clean, transform, and prepare data for analysis. This includes tasks like filtering, sorting, joining tables, and aggregating data.

**Data Definition:** SQL can be used to create, modify, and delete tables and databases, ensuring that the data is organized and structured effectively for analysis.

**Industry Standard:** SQL is widely adopted across various industries and organizations. Proficiency in SQL is a highly valuable skill for data analysts and other professionals working with data.

2. Explain the difference between INNER JOIN, LEFT JOIN, RIGHT JOIN, and FULL OUTER JOIN.

Ans. **INNER JOIN**
Returns: Rows that have matching values in both tables.

**LEFT JOIN**
Returns: All rows from the left table, and the matching rows from the right table. If there's no match in the right table, it returns NULL values.

 **RIGHT JOIN**
Returns: All rows from the right table, and the matching rows from the left table. If there's no match in the left table, it returns NULL values.

**FULL OUTER JOIN**
Returns: All rows from both tables, including unmatched rows from either side.1 For unmatched rows, it returns NULL values for the columns from the other table.

3. What is the difference between WHERE and HAVING clauses?

Ans.The WHERE and HAVING clauses both filter data in SQL, but they operate at different stages of the query execution process:

**WHERE Clause:**
Filters individual rows before they are grouped.
Cannot use aggregate functions (like SUM, AVG, COUNT) directly within the WHERE clause.

**HAVING Clause:**
Filters groups of rows after they have been aggregated.
Can use aggregate functions to filter groups based on their aggregated values

4. How do you use GROUP BY and HAVING in a query?

In [ ]:
SELECT CustomerID, SUM(Amount) AS TotalSales
FROM Sales
WHERE TotalSales > 200
GROUP BY CustomerID;

In [ ]:
SELECT CustomerID, SUM(Amount) AS TotalSales
FROM Sales
GROUP BY CustomerID
HAVING TotalSales > 200;

5. Write a query to find duplicate records in a table.

In [ ]:
SELECT FirstName, LastName
FROM Customers
GROUP BY FirstName, LastName
HAVING COUNT(*) > 1;

HAVING COUNT(*) > 1: This filters the groups, keeping only those where the count of rows in the group is greater than one. This identifies groups with duplicate values.

6. How do you retrieve unique values from a table using SQL?

Ans. Using **SQL DISTINCT Keyword**

The DISTINCT keyword in SQL is used to eliminate duplicate rows from the result-set of a SELECT statement.

In [ ]:
SELECT DISTINCT City
FROM Customers;

7. Explain the use of aggregate functions like COUNT(), SUM(), AVG(), MIN(), and MAX().

Ans.**COUNT()**: Counts the number of rows or non-NULL values in a specified column.

**SUM():**Calculates the sum of all values in a specified column.

**AVG():** Calculates the average (mean) of all values in a specified column.

**MIN():** Finds the minimum value in a specified column.

**MAX():** Finds the maximum value in a specified column.

In [ ]:
SELECT COUNT(*) AS TotalOrders
FROM Orders;

SELECT SUM(TotalAmount) AS TotalSales
FROM Orders;

SELECT AVG(TotalAmount) AS AvgOrderAmount
FROM Orders;

SELECT MAX(OrderDate) AS LatestOrderDate
FROM Orders;

8. What is the purpose of a DISTINCT keyword in SQL?

Ans. The DISTINCT keyword in SQL is used to eliminate duplicate rows from the result-set of a SELECT statement.

**Retrieve Unique Values:** It ensures that only unique values are returned for the specified column(s).
**Data Cleaning:** Helps remove redundant data, making your results more concise and easier to analyze.

#¬†ùêàùêßùê≠ùêûùê´ùê¶ùêûùêùùê¢ùêöùê≠ùêû ùêíùêêùêã

1. Write a query to find the second-highest salary from an employee table.

In [ ]:
SELECT MAX(Salary)
FROM Employee
WHERE Salary < (SELECT MAX(Salary) FROM Employee);

2. What are subqueries and how do you use them?

Ans. A subquery, also known as a nested query or inner query, is a query embedded within another SQL statement. It's a powerful tool that allows you to perform complex data retrieval and manipulation by executing one query within the context of another.

Common Uses of Subqueries:

**Filtering Data using WHERE Clause:**

Example: Find employees whose salary is greater than the average salary of all employees.

In [ ]:
SELECT *
FROM employees
WHERE salary > (SELECT AVG(salary) FROM employees);

**Comparing Values:**

Example: Find departments that have more employees than the 'Sales' department.

In [ ]:
SELECT department_name
FROM departments
WHERE num_employees > (SELECT num_employees FROM departments WHERE department_name = 'Sales');

3. What is a Common Table Expression (CTE)? Give an example of when to use it.

Ans. A Common Table Expression (CTE) is a named, temporary result set that you define within a SQL statement. It's like a reusable subquery that you can reference multiple times within the same query. CTEs are particularly useful for breaking down complex queries into smaller, more manageable parts, improving readability and maintainability

In [ ]:
WITH AvgSalaries AS (
    SELECT department_id, AVG(salary) AS avg_salary
    FROM employees
    GROUP BY department_id
)
SELECT e.*
FROM employees e
JOIN AvgSalaries a ON e.department_id = a.department_id
WHERE e.salary > a.avg_salary;

4. Explain window functions like ROW_NUMBER(), RANK(), and DENSE_RANK().

Ans. Window functions are a powerful tool in SQL that allow you to perform calculations across a set of rows related to the current row. They are different from aggregate functions like SUM, AVG, or COUNT because they return a result for each row in the dataset, rather than a single value for a group of rows.

**ROW_NUMBER():**
Assigns a unique, sequential integer to each row within a partition.
Useful for ranking rows within a group or for selecting specific rows based on their order.

**RANK():**
Assigns a rank to each row within a partition based on a specified order.
If multiple rows have the same value for the ranking column, they are assigned the same rank, and the next rank is skipped.

**DENSE_RANK():**
Similar to RANK(), but assigns a rank to each row within a partition based on a specified order.
If multiple rows have the same value for the ranking column, they are assigned the same rank, but the next rank is not skipped.

5. How do you combine results of two queries using UNION and UNION ALL?

Ans. In SQL, UNION and UNION ALL are set operators used to combine the result sets of two or more SELECT statements into a single result set. The key difference lies in their handling of duplicate rows.

**UNION :**
Removes duplicates by combining the results of the specified queries and removes any duplicate rows.

**UNION ALL :**
Includes all rows by combining the results of the specified queries and includes all rows, including duplicates.

6. What are indexes in SQL, and how do they improve query performance?

Ans. In SQL databases, an index is a data structure that significantly speeds up data retrieval operations.
It's essentially a sorted list of pointers to the rows in a table, based on the values of one or more columns. Think of it as an index in a book ‚Äì it helps you quickly locate specific information without having to read the entire book.

**How Indexes Improve Query Performance:**

**Faster Data Retrieval:**
Instead of scanning every row in a table, the database engine can use the index to quickly locate the relevant rows based on the query's WHERE clause.
This is especially beneficial for queries that involve filtering data based on specific column values (e.g., WHERE customer_id = 123).

**Reduced I/O Operations:**
Indexes can reduce the number of disk reads required to retrieve data, as the index itself is often stored in memory.
This leads to faster query execution times, especially for large tables.

7. Write a query to calculate the total sales for each month using GROUP BY.

In [ ]:
SELECT
    DATE_TRUNC('month', order_date) AS month,
    SUM(amount) AS total_sales
FROM
    orders
GROUP BY
    month;

#ùêÄùêùùêØùêöùêßùêúùêûùêù ùêíùêêùêã

1. How do you optimize a slow-running SQL query?

Ans. 1. **Identify the Bottleneck**

Use the database's built-in tools (e.g., EXPLAIN in MySQL, EXPLAIN PLAN in Oracle) to visualize the query execution plan. This shows how the database is processing the query, highlighting potential bottlenecks (e.g., table scans, slow joins).

Utilize profiling tools to pinpoint resource-intensive parts of the query (e.g., CPU usage, I/O wait).

**2. Optimize Data Retrieval**

 Apply WHERE clauses early to filter out unnecessary data.

Only select the necessary columns using SELECT. Avoid using SELECT *.

Use subqueries judiciously to minimize the amount of data processed at each stage.

2. What are views in SQL, and when would you use them?

Ans. In SQL, a view is a virtual table that doesn't actually store any data itself. Instead, it's defined by a SQL query that retrieves data from one or more underlying tables.

It can be used as:

**Data Abstraction:**

Views can encapsulate complex join conditions or subqueries, making it easier for users to access specific data without needing to understand the underlying table structure.

Views can restrict access to specific columns or rows in underlying tables, enhancing data security and privacy.

**Data Presentation:**

Views can be used to present data in a specific format or with calculated columns.

Create views to summarize data, such as sales totals for each month or customer demographics.

3. What is the difference between a stored procedure and a function in SQL?

Ans. **Stored Procedures**

**Purpose:** To encapsulate a set of SQL statements that perform a specific task.

**Functionality:** Can perform various actions, including data retrieval, insertion, updates, deletions, and complex business logic.

**Return Value:** May or may not return a result set.

**Parameters:** Can have input, output, or both types of parameters.

**Usability:** Can be called independently or from within other stored procedures.

**Example:** A procedure to insert a new customer record, update inventory levels, or process a complex order.

**Functions**

**Purpose:** To perform a specific calculation or data retrieval operation and return a single value or a table.

**Functionality:** Primarily focused on data retrieval and calculations.

**Return Value:** Must always return a value (scalar value or a table).

**Parameters:** Typically have input parameters only.

**Usability:** Can be used within SQL statements (e.g., in the WHERE clause, SELECT statement).

**Example:** A function to calculate the total sales for a given month, to find the maximum salary in a department, or to retrieve a list of customers in a specific city.

4. Explain the difference between TRUNCATE, DELETE, and DROP commands.

Ans. **DELETE**: Removes specific rows from a table based on a condition. It Can be rolled back within a transaction. It is slower than TRUNCATE, especially for large tables.

In [ ]:
DELETE FROM Customers
WHERE City = 'New York';

**TRUNCATE**: Removes all rows from a table. It generally cannot be rolled back.It is faster than DELETE.

In [ ]:
TRUNCATE TABLE Customers;

**DROP**: Removes the entire table and its structure from the database. It Cannot be rolled back.

In [ ]:
DROP TABLE Customers;

5. What are windowing functions, and how are they used in analytics?

Ans. Window Functions in SQL: A Powerful Tool for Analytics

Window functions are a special type of function in SQL that perform calculations across a set of rows related to the current row. Unlike aggregate functions like SUM or AVG, which typically collapse multiple rows into a single result, window functions return a result for each row in the dataset.

**RANK():** Assigns a rank to each row within a partition. If multiple rows have the same value for the ranking column, they are assigned the same rank, and the next rank is skipped.

**DENSE_RANK():** Similar to RANK(), but assigns a rank to each row without skipping ranks for ties.

**ROW_NUMBER():** Assigns a unique, sequential integer to each row within a partition.

**Applications in Analytics**

**Time Series Analysis:** Calculating moving averages, identifying trends, and detecting anomalies.

**Ranking and Segmentation:** Ranking customers, products, or other entities based on various criteria.

**Data Comparison:** Comparing current values to previous values (e.g., year-over-year growth).

**Cumulative Calculations:** Calculating running totals, cumulative sums, and other cumulative measures.

6. How do you use PARTITION BY and ORDER BY in window functions?

Ans. **PARTITION BY**:

Divides the entire result set into smaller, distinct partitions or groups.

The window function is applied independently within each partition.

In [ ]:
SELECT
    department_id,
    employee_id,
    salary,
    AVG(salary) OVER (PARTITION BY department_id) AS avg_dept_salary
FROM
    employees;

**ORDER BY**:

Defines the order of rows within each partition.

Crucial for functions like RANK(), DENSE_RANK(), ROW_NUMBER(), LAG(), LEAD(), and cumulative functions (e.g., SUM(), AVG()).

In [ ]:
SELECT
    employee_id,
    salary,
    RANK() OVER (ORDER BY salary DESC) AS employee_rank
FROM
    employees;

7. How do you handle NULL values in SQL, and what functions help with that (e.g., COALESCE,¬†ISNULL)?

Ans. **1. Identifying NULL Values**

**IS NULL:** This operator checks if a value is NULL.

In [ ]:
SELECT *
FROM customers
WHERE phone IS NULL;

**IS NOT NULL:** This operator checks if a value is not NULL.

In [ ]:
SELECT *
FROM customers
WHERE phone IS NOT NULL;

**2. Replacing NULL Values**

**COALESCE():** This function returns the first non-NULL value from a list of expressions.

In [ ]:
SELECT customer_name, COALESCE(phone, 'No Phone Number') AS phone_number
FROM customers;

**ISNULL() (SQL Server specific):** Similar to COALESCE(), it returns the first non-NULL value.

In [ ]:
SELECT customer_name, ISNULL(phone, 'No Phone Number') AS phone_number
FROM customers;