1. What is SQL, and why is it important in data analytics?

Ans. SQL stands for Structured Query Language. It is a powerful programming language used to manage and manipulate data in relational databases.

It's crucial for data analytics:

**Data Retrieval:** SQL allows analysts to efficiently extract specific data from large datasets based on various criteria. This is essential for building reports, visualizations, and performing in-depth analysis.

**Data Manipulation:** SQL enables analysts to clean, transform, and prepare data for analysis. This includes tasks like filtering, sorting, joining tables, and aggregating data.

**Data Definition:** SQL can be used to create, modify, and delete tables and databases, ensuring that the data is organized and structured effectively for analysis.

**Industry Standard:** SQL is widely adopted across various industries and organizations. Proficiency in SQL is a highly valuable skill for data analysts and other professionals working with data.

2. Explain the difference between INNER JOIN, LEFT JOIN, RIGHT JOIN, and FULL OUTER JOIN.

Ans. **INNER JOIN**
Returns: Rows that have matching values in both tables.

**LEFT JOIN**
Returns: All rows from the left table, and the matching rows from the right table. If there's no match in the right table, it returns NULL values.

 **RIGHT JOIN**
Returns: All rows from the right table, and the matching rows from the left table. If there's no match in the left table, it returns NULL values.

**FULL OUTER JOIN**
Returns: All rows from both tables, including unmatched rows from either side.1 For unmatched rows, it returns NULL values for the columns from the other table.

3. What is the difference between WHERE and HAVING clauses?

Ans.The WHERE and HAVING clauses both filter data in SQL, but they operate at different stages of the query execution process:

**WHERE Clause:**
Filters individual rows before they are grouped.
Cannot use aggregate functions (like SUM, AVG, COUNT) directly within the WHERE clause.

**HAVING Clause:**
Filters groups of rows after they have been aggregated.
Can use aggregate functions to filter groups based on their aggregated values

4. How do you use GROUP BY and HAVING in a query?

In [ ]:
SELECT CustomerID, SUM(Amount) AS TotalSales
FROM Sales
WHERE TotalSales > 200
GROUP BY CustomerID;

In [ ]:
SELECT CustomerID, SUM(Amount) AS TotalSales
FROM Sales
GROUP BY CustomerID
HAVING TotalSales > 200;

5. Write a query to find duplicate records in a table.

In [ ]:
SELECT FirstName, LastName
FROM Customers
GROUP BY FirstName, LastName
HAVING COUNT(*) > 1;

HAVING COUNT(*) > 1: This filters the groups, keeping only those where the count of rows in the group is greater than one. This identifies groups with duplicate values.

6. How do you retrieve unique values from a table using SQL?

Ans. Using **SQL DISTINCT Keyword**

The DISTINCT keyword in SQL is used to eliminate duplicate rows from the result-set of a SELECT statement.

In [ ]:
SELECT DISTINCT City
FROM Customers;

7. Explain the use of aggregate functions like COUNT(), SUM(), AVG(), MIN(), and MAX().

Ans.**COUNT()**: Counts the number of rows or non-NULL values in a specified column.

**SUM():**Calculates the sum of all values in a specified column.

**AVG():** Calculates the average (mean) of all values in a specified column.

**MIN():** Finds the minimum value in a specified column.

**MAX():** Finds the maximum value in a specified column.

In [ ]:
SELECT COUNT(*) AS TotalOrders
FROM Orders;

SELECT SUM(TotalAmount) AS TotalSales
FROM Orders;

SELECT AVG(TotalAmount) AS AvgOrderAmount
FROM Orders;

SELECT MAX(OrderDate) AS LatestOrderDate
FROM Orders;

8. What is the purpose of a DISTINCT keyword in SQL?

Ans. The DISTINCT keyword in SQL is used to eliminate duplicate rows from the result-set of a SELECT statement.

**Retrieve Unique Values:** It ensures that only unique values are returned for the specified column(s).
**Data Cleaning:** Helps remove redundant data, making your results more concise and easier to analyze.